#root {
  height: 100%;
}

.app {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 1rem;
}

/* flip players vertical on smaller screens */
@media screen and (max-width: 1100px) {
  .app {
    flex-flow: column-reverse nowrap;
  }
}

.game {
  flex: 2 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  gap: .5rem;
  padding: .5rem;
  overflow: auto;
}

.vs {
  padding: .5rem .75rem;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 3px;
  font-weight: 600;
  text-transform: capitalize;
}

/* flip to horizontal gaming on shorter screens */
/* until we reach width 1100 */
@media screen and (max-height: 775px) and (min-width: 1100px) {
  .game {
    flex-direction: row-reverse;
  }

  .game .grid {
    transform: rotate(90deg);
  }

  .game .grid .cell,
  .game .grid .score>div {
    transform: rotate(-90deg);
  }
}

/* flip to horizontal earlier on smaller screens */
@media screen and (max-height: 900px) and (max-width: 1100px) and (min-width: 700px) {
  .game {
    flex-direction: row-reverse;
  }

  .game .grid {
    transform: rotate(90deg);
  }

  .game .grid .cell,
  .game .grid .score>div {
    transform: rotate(-90deg);
  }
}

/* flip to horizontal earlier on even smaller screens */
@media screen and (max-height: 700px) and (max-width: 700px) and (min-width: 550px) {
  .game {
    flex-direction: row-reverse;
  }

  .game .grid {
    transform: rotate(90deg);
  }

  .game .grid .cell,
  .game .grid .score>div {
    transform: rotate(-90deg);
  }
}