#root {
  height: 100%;
}

.app {
  border: 1px solid white;
  height: 100%;
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  /* align-items: center; */
}

.game {
  flex: 2 1 auto;

  display: flex;
  flex-flow: column wrap-reverse;
  align-items: center;
  justify-content: space-around;
  gap: .75rem;
  overflow: auto;
  padding: .5rem;
}

/* game height overflow */
@media screen and (min-width: 750px) {
  .game {
    max-height: 100%;
  }
}

/* small screens, flip to vertical */
@media screen and (max-width: 750px) {
  .app {
    flex-flow: column-reverse nowrap;
  }

  .game {
    flex-shrink: 1;
  }
}

/* landscape mode */
@media screen and (max-height: 800px) and (max-width: 1200px) {
  .app {
    flex-flow: column-reverse nowrap;
  }
}