.app {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% auto 15%;
  grid-template-areas:
    "opponent"
    "game"
    "user";
}

.player {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.75rem;

  & .name {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
  }

  & .score {
    display: grid;
    place-items: center;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: monospace;
  }

  & .rollArea {
    display: grid;
    place-items: center;
    padding: 1rem;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 3px;
  }
}

.opponent {
  grid-area: opponent;
  /* border-bottom: 1px solid rgb(185, 185, 185); */
  background: linear-gradient(0deg, #1c1b22, #7234746e);
}

.user {
  grid-area: user;
  /* border-top: 1px solid rgb(185, 185, 185); */
  /* Linear gradient from navy to indigo */
  background: linear-gradient(180deg, #1c1b22, #3437746e);
}

.game {
  display: grid;
  place-items: center;
  overflow: auto;
  padding: 1rem 0.5rem;
}

.vs {
  padding: 0.5rem 0.75rem;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 3px;
  font-weight: 600;
  text-transform: capitalize;
}

/* Color Scheme */
/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
*/
