.dot {
  width: .65rem;
  height: .65rem;
  background-color: white;
  border-radius: 50%;
}

.dice {
  display: grid;
  background-color: #647075;
  padding: .25rem;
}

.dice_2,
.dice_4,
.dice_6 {
  grid-template-columns: repeat(2, 1fr);
}

.dice_3,
.dice_5 {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr)
}

.dice_1 {
  place-items: center;
}

.dice_2 {
  grid-template-rows: 1fr 1fr;
}

.dice_2 .dot:last-child {
  grid-row: 2 / 2;
  grid-column: 2 / 2;
}

.dice_3 .dot:nth-child(1) {
  grid-column-start: 2;
  grid-row-start: 2;
}

.dice_3 .dot:nth-child(2) {
  grid-column-start: 3;
  grid-row-start: 3;
}

.dice_5 .dot:nth-child(2) {
  grid-column-start: 3;
}

.dice_5 .dot:nth-child(3) {
  grid-column-start: 2;
}

.dice_5 .dot:nth-child(4) {
  grid-row-start: 3;
}

.dice_5 .dot:nth-child(5) {
  grid-row-start: 3;
  grid-column-start: 3;
}