.grid {
  /* height: 250px;
  width: 250px; */
  /* border: 1px solid olivedrab; */

  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin: 30px .75rem;

}

.grid.score_top .score {
  top: -2rem;
}

.grid.score_bottom .score {
  bottom: -2rem;
}

.grid.score_top .row {
  flex-direction: column-reverse;
}



.score {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.cells {
  display: flex;
  gap: 3px;
  border-radius: 5px;
  overflow: hidden;
}

.row {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(60, 56, 56);

  gap: .75rem;
  padding: .5rem;
}

.cell {
  display: grid;
  place-items: center;

  border-radius: 4px;
  width: 4rem;
  height: 4rem;
  /* margin: 1rem .5rem; */
}

.dice {
  background-color: rgb(100, 112, 117);

}