.grid {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.grid.score_top .score {
  top: -2rem;
}

.grid.score_bottom .score {
  bottom: -2rem;
}

.grid.score_top .row {
  flex-direction: column-reverse;
}

.score {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
}


.cells {
  display: flex;
  gap: 3px;
  border-radius: 5px;
  overflow: hidden;
}

.row {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(60, 56, 56);

  gap: .75rem;
  padding: .5rem;

  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: border-color 200ms ease-in-out;
}

.row:hover {
  border: 2px solid #9c9c9c;
}

.cell {
  display: grid;
  place-items: center;

  background-color: rgb(43, 39, 39);

  border-radius: 4px;
  width: 4rem;
  height: 4rem;
}